A relational database:

- real-life entities become tables
- reduced redundancy
- data integrity by relationships

learn three concepts

- constraints
- keys
- referential integrity

In [ ]:
-- Query the right table in information_schema
SELECT table_name 
FROM information_schema.tables -- meta-database with MULTIPLE tables
-- Specify the correct table_schema value
WHERE table_schema = 'public';

Now have a look at the columns in university_professors by selecting all entries in information_schema.columns that correspond to that table.

In [ ]:
-- Query the right table in information_schema to get columns
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'university_professors' AND table_schema = 'public';

Finding the number of columns in the table university_professors

In [ ]:
SELECT COUNT(*)
FROM information_schema.columns
WHERE table_name = 'university_professors' AND table_schema = 'public'

CREATE table

In [ ]:
-- Create a table for the professors entity type
CREATE TABLE professors (
 firstname text,
 lastname text
); -- Note the semicolon after this

-- Print the contents of this table
SELECT * 
FROM professors

ALTER TABLE, RENAME COLUMN

In [ ]:
-- Add the university_shortname column
ALTER TABLE professors
ADD COLUMN university_shortname TEXT;

-- Print the contents of this table
SELECT * 
FROM professors

In [ ]:
-- Rename the organisation column
ALTER TABLE affiliations
RENAME COLUMN organisation TO organization;

-- Delete the university_shortname column
ALTER TABLE affiliations
DROP COLUMN university_shortname;

INSERT INTO, SELECT DISTINCT

In [ ]:
-- Insert unique professors into the new table
INSERT INTO professors 
SELECT DISTINCT firstname, lastname, university_shortname 
FROM university_professors;

In [ ]:
-- Delete the university_professors table
DROP TABLE university_professors;

CASTING

In [ ]:
CREATE TABLE weather (
temperature integer,
wind_speed text);

SELECT temperature * windspeed AS wind_chill
FROM weather; ------------- WRONG



SELECT temperature * CAST(wind_speed AS integer) AS wind_chill
FROM weather;

In [ ]:
-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS integer) AS net_amount 
FROM transactions;

In [ ]:
-- Specify the correct fixed-length character type
ALTER TABLE professors
ALTER COLUMN university_shortname
TYPE char(3);

In [ ]:
-- Change the type of firstname
ALTER TABLE professors
ALTER COLUMN firstname
TYPE varchar(64);

SUBSTRING

Convert types USING a function
If you don't want to reserve too much space for a certain varchar column, you can truncate the values before converting its type.

For this, you can use the following syntax:

ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(x)
USING SUBSTRING(column_name FROM 1 FOR x)


You should read it like this: Because you want to reserve only x characters for column_name, you have to retain a SUBSTRING of every value, i.e. the first x characters of it, and throw away the rest. This way, the values will fit the varchar(x) requirement.

Now use SUBSTRING() to reduce firstname to 16 characters so its type can be altered to varchar(16).

In [ ]:
-- Convert the values in firstname to a max. of 16 characters
ALTER TABLE professors 
ALTER COLUMN firstname
TYPE varchar(16)
USING SUBSTRING(firstname FROM 1 FOR 16)

not-null and unique constraints

eg. ssn integer not null,

NULL != NULL

ADD CONSTRAINT

In [ ]:
-- Disallow NULL values in firstname
ALTER TABLE professors 
ALTER COLUMN firstname SET NOT NULL;

In [ ]:
-- Make universities.university_shortname unique
ALTER TABLE universities
ADD CONSTRAINT university_shortname_unq UNIQUE(university_shortname); -- university_shortname_unq is name of constraint

keys and superkeys, key constraints

key = attributes that identify a record uniquely (always minimal)

superkey = attributes that can be removed

minimal superkey or key = no more attributes can be removed - but can still be uniquely identified by the remaining attributes

primary keys - most important concept, chosen by you from candidate keys

one primary key per database table

- multiple primary columns can make up a primary key, but ideally only one

multiple ways to specify primary key
- ADD CONSTRAINT    PRIMARY KEY
- PRIMARY KEY (col1, col2)
- product_no integer PRIMARY KEY

In [ ]:
-- Rename the organization column to id
ALTER TABLE organizations
ALTER COLUMN organization TO id;

-- Make id a primary key
ALTER TABLE organizations
ADD CONSTRAINT organization_pk PRIMARY KEY (id);

In [ ]:
--setting up a primary key
-- Rename the organization column to id
ALTER TABLE organizations
RENAME COLUMN organization TO id;

-- Make id a primary key
ALTER TABLE organizations
ADD CONSTRAINT organization_pk PRIMARY KEY (id);

In [ ]:
-- Rename the university_shortname column to id
ALTER TABLE universities
RENAME COLUMN university_shortname TO id;

-- Make id a primary key
ALTER TABLE universities
ADD CONSTRAINT university_pk PRIMARY KEY (id);

surrogate key with serial data type

ADD COLUMN id serial PRIMARY KEY;

In [ ]:
-- Add the new column to the table
ALTER TABLE professors 
ADD COLUMN id serial;

-- Make id a primary key
ALTER TABLE professors 
ADD CONSTRAINT professors_pkey PRIMARY KEY (id);

-- Have a look at the first 10 rows of professors
SELECT * FROM professors LIMIT (10);

UPDATE and SET

In [ ]:
-- Count the number of distinct rows with columns make, model
SELECT COUNT(DISTINCT(make, model)) 
FROM cars;

-- Add the id column
ALTER TABLE cars
ADD COLUMN id varchar(128);

-- Update id with make + model
UPDATE cars
SET id = CONCAT(make, model);

-- Make id a primary key
ALTER TABLE cars
ADD CONSTRAINT id_pk PRIMARY KEY(id);

-- Have a look at the table
SELECT * FROM cars;

Exercise:
Let's think of an entity type "student". A student has:

a last name consisting of up to 128 characters (required),
a unique social security number, consisting only of integers, that should serve as a key,
a phone number of fixed length 12, consisting of numbers and characters (but some students don't have one).

In [ ]:
-- Create the table
CREATE TABLE students (
  last_name varchar(128) NOT NULL,
  ssn integer PRIMARY KEY,
  phone_no char(12)
);