A relational database:

- real-life entities become tables
- reduced redundancy
- data integrity by relationships

learn three concepts

- constraints
- keys
- referential integrity

In [ ]:
-- Query the right table in information_schema
SELECT table_name 
FROM information_schema.tables -- meta-database with MULTIPLE tables
-- Specify the correct table_schema value
WHERE table_schema = 'public';

Now have a look at the columns in university_professors by selecting all entries in information_schema.columns that correspond to that table.

In [ ]:
-- Query the right table in information_schema to get columns
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'university_professors' AND table_schema = 'public';

Finding the number of columns in the table university_professors

In [ ]:
SELECT COUNT(*)
FROM information_schema.columns
WHERE table_name = 'university_professors' AND table_schema = 'public'

CREATE table

In [ ]:
-- Create a table for the professors entity type
CREATE TABLE professors (
 firstname text,
 lastname text
); -- Note the semicolon after this

-- Print the contents of this table
SELECT * 
FROM professors

ALTER TABLE

In [ ]:
-- Add the university_shortname column
ALTER TABLE professors
ADD COLUMN university_shortname TEXT;

-- Print the contents of this table
SELECT * 
FROM professors

In [ ]:
-- Rename the organisation column
ALTER TABLE affiliations
RENAME COLUMN organisation TO organization;

-- Delete the university_shortname column
ALTER TABLE affiliations
DROP COLUMN university_shortname;

INSERT INTO, SELECT DISTINCT

In [ ]:
-- Insert unique professors into the new table
INSERT INTO professors 
SELECT DISTINCT firstname, lastname, university_shortname 
FROM university_professors;

In [ ]:
-- Delete the university_professors table
DROP TABLE university_professors;